*{
	box-sizing: border-box;
	margin: none;
	padding: none;
}
body{
	background: url("photos/texture.jpg");
	background-repeat: no-repeat;
	background-size: 100% , 100%;
}
.full{
	width: 98%;
	height: 95vh;
	margin: auto;
	margin-top: 15px;
	border-style: solid;
	border-color: black;
	border-bottom:none;

}
.header{
	display: flex;
	background: blue;
}
.logo,.nav-links{
	flex: 1;
	display: flex;
}	
.nav-links{
	justify-content: space-around;
	list-style: none;
	margin-bottom: 0px;
	background: lightblue;
	width: 100%;
}
.nav-link{
	color: black;
	font-size: 18px;
	text-decoration: none;
}
.logo{
	background: yellow;
}