*{
	box-sizing: border-box;
	margin: none;
	padding: none;
}
body{
	background: url("photos/texture.jpg");
	background-repeat: repeat;
	background-size: 100% , 100%;
}
.full{
	width: 98%;
	height: 95vh;
	margin: auto;
	margin-top: 15px;
	border-style: solid;
	border-color: black;
	border-bottom:none;

}
.header{
	display: flex;
}
.logo,nav{
	flex: 1;
}	
.nav-links{
	display: flex;
	justify-content: space-around;
	list-style: none;
}
.nav-link{
	color: #010042;
	font-size: 18px;
	text-decoration: none;
}
.logo{
	font-family:Silence Rocken;
	font-size: 70px;
	color:#071386; 
	margin-left: 50px;
	margin-top: -10px;
}

.presentation{
	display: flex;
}
.hero,.poem{
	flex: 1;
}
img{
	width: 700px;
	height: 500px;
	margin-top: -50px;
}
.poem{
	font-family: "Kingthings Trypewriter 2";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 50px;
	color: #4D4C4C;
	margin-top: 50px;
}
.herox,.poem{
	flex: 1;
margin-top: 100px;
}

.herox img{
	width: 200px;
	height: 300px;
	margin-left: 100px;

}